.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  flex-shrink: 0;
  padding: 0 2rem;
  background-color: #071840;
  z-index: 10;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: brown;
}

.logo {
  width: 100%;
  height: auto;
  margin: 2rem 0 11rem 0.2rem;
  color: #ada5a5;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  li {
    margin-bottom: 4rem;
    cursor: pointer;

    &:hover {
      color: var(--color-2);
    }
  }
}

.active {
  color: var(--color-2);
}

.documentation {
  color: currentColor;
  cursor: pointer;

  &:active,
  &:focus {
    color: currentColor;
  }

  &:hover {
    color: var(--color-2);
  }
}

svg:hover {
  fill: #fff;
}

svg {
  fill: #ada5a5;
}
