@import 'Division';

.hoverModal {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 7px;
  background: gray;
  transition: all 0.5s;
}

// For navbar

.buttons {
  display: flex;
  align-items: center;
}

.buttons > * {
  margin-right: 20px;
}

.dropdownbtn {
  border: 1px solid #0252fc !important;
  border-radius: 7px !important;
  padding: 0 40px !important;
  color: #0252fc !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  min-width: 160px !important;
}

.dropdownbtn:hover {
  background-color: #0252fc !important;
  color: #fff !important;
  cursor: pointer;
}


.mark {
  display: flex;
  margin-top: 20px;
}

.mark > * {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
  margin-left: 20px;
}