%heading {
  display: inline;
  line-height: 1.2em;
  font-weight: 700;
  color: #3f76dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  @extend %heading;
}

.button {
  @extend %heading;
  cursor: pointer;

  &:hover {
    color: #296ebd;
  }
}

.th_button {
  background-color: #efefef;
  &:hover {
    background-color: #ececec;
  }
}

.table,
.tr {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.tr {
  background-color: #fafafa;
}

%color {
  padding: 10px;
  line-height: 1.1em;
  text-align: center;
  box-sizing: border-box;
}

.th {
  @extend %color;
}

.td {
  @extend %color;
  border: 0;
  border-top: 1px solid #f0f0f0;
}
