@mixin flex(
  $align-items: flex-start,
  $justify-content: flex-start,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

.container {
  @include flex(center, space-around);
  //   border: thin solid black;
  height: 82vh;
  // padding: 0 5%;
}

.panelContainer {
  // flex: 1;
  // background: #f0ffff;
  padding: 10px 30px;
  height: 100%;
  overflow: auto;
}

.panelItem {
  // border: thin solid #e0f5d3;
  background-color: #f0ffff;
  padding: 10px;
  margin: 10px 0;
  width: 200px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}

.panelItem:hover {
  background-color: #bbf8f8;
}

.section {
  @include flex(center, center, column);
  flex: 1;
  // height: 100%;
  background-color: #f2f4f4;
  padding: 30px;
  border-radius: 15px;
  margin: 0 10%;
}

.formContainer {
  width: 90%;
}

.formButtonSet {
  @include flex(center, space-around);
}

.formRow {
  margin: 20px 0;
}

.formTitle {
  background-color: #e6f7ff;
  // color: #fff;
  border: thin solid #1890ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  // border-left: thin solid
  padding: 2px 5px;
}

.inputTextBox {
  background: #fff !important;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
