* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-1: #071840;

  --color-2: white;
  --color-2-dimmed: #f5f7fb;
  --color-2-darker: #E5ECF9;
  --color-2-dark: #5B6F8C;

  --color-3-light: #F4F8FE;
  --color-3-lighter: #E5F6FF;
  --color-3: #0252fc;

  --color-4-light: #FFE5EE;
  --color-4: #FF0055;

  --color-5-light: #E5FFF8;
  --color-5-lighter: #DAFCC9;
  --color-5: #36d9d8;

  --color-6: #7C4DFF;
  --color-6-opacity: rgba(124, 77, 2500, 0.2);

  --color-7: #448AFF;
  --color-7-opacity: rgba(68, 138, 255, 0.2);

  --color-8: #00BCD4;
  --color-8-opacity: rgba(0, 188, 212, 0.2);

  --color-9: #1DE9B6;
  --color-9-opacity: rgba(29, 233, 182, 0.2);

  --color-10-lighter: #fff1ea;
  --color-10: #fea686;

  --max-width: 135rem;
  --border-radius: 7px;
  --shadow: var(--color-2-darker) 0 5px 20px 0;
}