.container {
    padding: 0 10px;
  }
  
  .item {
    margin: 0 0 30px;
    background: #e6f7ff;
    border-left: 3px solid #1890ff;
    padding: 5px 10px;
  }
  
  .phoneContainer {
    margin: 15px 5px;
    border-left: 3px solid #1890ff;
  }
  
  .phoneItemContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
  }
  