.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    letter-spacing: 2px;
    color: var(--color-2);
    cursor: default;
}

.one {
    @extend .avatar;
    background-color: #0252fc;
}

.two {
    @extend .avatar;
    background-color: #1DE9B6;
}

.three {
    @extend .avatar;
    background-color: #36d9d8;
}

.small {
    width: 1.6rem;
    height: 1.6rem;
    font-size: .9rem;
}

.standard {
    width: 2.3rem;
    height: 2.3rem;
    font-size: 1rem;
}

.stacked {
    margin-left: -1rem;
    box-shadow: 0 0 0 1px var(--color-2);

    &:first-of-type {
        margin-left: 0;
    }
}

.placeholder {
    @extend .avatar, .stacked;
    background-color: var(--color-2-darker);
    letter-spacing: 0;
    color: var(--color-2-dark);
}