.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.name {
  border: 1px solid #2f2f2f;
  border-radius: 6px;
  height: 40px;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #1f2f89;
}

.chartContainer {
  height: 560;
  width: 620;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 0 40px;
}
