@mixin flex(
  $align-items: flex-start,
  $justify-content: flex-start,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

.hoverModal {
  @include flex(center, space-around);
  position: fixed;
  border-radius: 14px;
  border-bottom-left-radius: 2px;
  background: #f0ffff;
  transition: all 0.5s;
  padding: 10px;
  border-left: 2px solid #86fde8;
  border-bottom: 2px solid #86fde8;

  animation: slideIn 0.3s forwards;
}

.hoverModalValue {
  font-weight: 600;
  color: #33addd;
}

@keyframes slideIn {
  from {
    transform: translateX(5%) translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
